@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
    @apply hover:border-b-2 border-blue-500;
  }
}

.removeHScroll::-webkit-scrollbar {
  width: 0;
}

.dropdown-menu {
  display: block;
  top: 10%;
  position: fixed;
}
